*{
	margin: 0;
	padding: 0;
}

img,iframe,embed{
	max-width: 100%;
}
.center{
	text-align: center;
}
	.bg_primary{
	background-color: #21618C;
}

.bg_secondary{
	background-color:#FDD017 ;
}
.navbar-light .navbar-nav .nav-link {
	color:#FDD017;
	text-transform: uppercase ;
	padding-left: 80px;
	padding-right: 80px;

}

.text_secondary{
	color:#FDD017;
}
.text_primary{
	color: #21618C;
}

	.testimonial{
	background: url('../images/s10.jpg') no-repeat center fixed;
	background-size: cover;
	height: 500px;
}
.testimonial2{
	background: url('../images/t2.jpg') no-repeat center fixed;
	background-size: cover;
	height: 300px;
}
	.testimonial3{
	background: url('../images/s2.png') no-repeat center fixed;
	background-size: cover;
	height: 500px;
}
.padding{
	padding-top: 80px;
}
.footer2{
	background-color: #5D6D7E  ;
	text-align: center;
	padding: 10px 0;
}



.bold{
	font-weight: bold;
}

.star{
	color:#FDD017;
}
.footer{
	background-color: black;

	padding: 80px 0;
}
.float{
	float: right;
}
.font{
	color: red;
}
.font2{
	 color: green;
}
.font3{
	color: brown;
}
.about{
	color: gray;
}